* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

body {
  font-size: 13px; }

nav {
  height: 38px;
  background-color: #000;
  padding: 0 30px;
  color: #fff; }
  nav a {
    line-height: 38px;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
    border-right: 1px #fff solid; }
  nav .no-right-bar {
    border-right: none; }
  nav .right {
    float: right; }
  nav span {
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -185px -201px no-repeat;
    height: 19px;
    width: 19px;
    font-size: 12px;
    position: absolute;
    margin: 6px -8px;
    text-align: center; }

.intro-box {
  width: 1200px;
  margin: 30px auto; }

.search-box {
  height: 50px; }
  .search-box div {
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -4px -363px no-repeat;
    height: 37px;
    width: 189px;
    float: left; }
  .search-box div > a {
    font-size: 12px;
    color: transparent; }
  .search-box input {
    float: right;
    height: 37px;
    width: 630px;
    padding: 10px;
    border: 1px #000 solid; }
  .search-box .btn {
    float: right;
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/76/CmBZEFZWvNiAUa4zAAAGUlPCg-4527.jpg) 0 no-repeat;
    height: 37px;
    width: 61px; }
  .search-box ul {
    display: block;
    position: absolute;
    margin: 10px 0 0 740px; }
  .search-box ul li {
    float: left;
    padding-right: 10px; }
  .search-box li a {
    color: #bdbdbd;
    font-size: 12px; }

#tabs {
  height: 50px;
  text-align: center; }
  #tabs a {
    font-size: 17px;
    color: #000;
    padding-right: 45px;
    line-height: 50px; }
  #tabs span {
    position: absolute;
    margin: 3px -50px; }
  #tabs #new {
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -275px -198px no-repeat;
    height: 21px;
    width: 332px; }
  #tabs #hot {
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -268px -3px no-repeat;
    height: 21px;
    width: 332px; }

.left-bar {
  float: left;
  border: #EEEEEE 1px solid;
  height: 365px;
  width: 190px; }
  .left-bar li {
    font-size: 17px;
    line-height: 45.6px;
    padding: 0 20px;
    border-bottom: #EEEEEE 1px solid; }
  .left-bar a {
    color: #000; }
  .left-bar .no-bot-bdr {
    border: none; }

#detail {
  display: none;
  width: 1010px;
  height: 365px;
  background-color: #f5f5f5;
  position: absolute;
  margin: -368px 0 0 190px;
  padding: 40px 30px 0 50px; }
  #detail .cls {
    width: 630px; }
  #detail .display {
    float: right;
    position: relative;
    top: -280px;
    width: 252px; }

.cls p {
  line-height: 2em;
  font-size: 13px; }

.cls > li {
  height: 5em; }

.sub-type {
  display: block;
  font-size: 12px;
  height: 2em;
  margin-left: 40px;
  border-bottom: #EEEEEE 1px solid; }
  .sub-type li {
    float: left;
    padding: 0 10px;
    border-left: #EEEEEE 1px solid; }

.center {
  overflow: hidden;
  margin: 0;
  padding: 0 10px; }

.right-bar {
  float: right;
  border: #EEEEEE 1px solid;
  height: 365px;
  width: 220px; }
  .right-bar #broadcast {
    font-size: 12px;
    padding: 3px 10px;
    height: 60px;
    border-bottom: #EEEEEE 1px solid; }
  .right-bar #horn {
    height: 13px;
    width: 16px;
    position: absolute;
    background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -299px -320px; }
  .right-bar #discuss {
    font-size: 17px;
    line-height: 2em;
    padding-left: 10px;
    border-bottom: #EEEEEE 1px dashed; }
  .right-bar #discuss a {
    color: #000;
    font-size: 12px;
    float: right; }

#titles {
  padding: 10px 5px; }
  #titles a {
    color: #000;
    font-size: 12px;
    line-height: 3em;
    vertical-align: middle; }

#recommend {
  float: left; }

.type a {
  color: #000; }

.slogan a {
  color: #bdbdbd; }

.price {
  color: red;
  font-size: 12px; }

#star, #guess {
  margin: 20px 0 60px 0; }
  #star > p, #guess > p {
    font-size: 20px; }
  #star ul, #guess ul {
    display: block;
    margin-top: 10px;
    height: 225px; }
  #star ul li, #guess ul li {
    width: 200px;
    float: left;
    border: #EEEEEE 1px solid;
    text-align: center;
    padding-bottom: 20px; }
  #star img, #guess img {
    width: 180px;
    height: 180px;
    margin: 0 auto; }
  #star a, #guess a {
    font-size: 12px; }
  #star li p, #guess li p {
    line-height: 1.5em; }

.top-red {
  border-top: red 1px solid !important; }

.shop-box {
  width: 100%;
  background-color: #f5f5f5; }
  .shop-box .floor, .shop-box #social-floor {
    width: 1200px;
    margin: 0 auto 20px; }

.floor > p, #social-floor > p {
  font-size: 20px;
  padding: 30px 0; }
.floor .brand, #social-floor .brand {
  float: left; }
.floor ul, #social-floor ul {
  display: block;
  height: 535px; }
.floor ul li, #social-floor ul li {
  width: 240px;
  height: 267px;
  float: left;
  background-color: #fff;
  border: #EEEEEE 1px solid;
  text-align: center; }
.floor a, #social-floor a {
  font-size: 12px; }
.floor li p, #social-floor li p {
  line-height: 20px; }

.operate {
  float: right;
  margin-left: 10px; }

.text {
  float: right;
  font-size: 10px;
  color: #6f7170; }

#previous {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -143px -31px no-repeat;
  height: 18px;
  width: 18px; }

#next {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -117px -31px no-repeat;
  height: 18px;
  width: 18px; }

#change {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -96px -34px no-repeat;
  height: 18px;
  width: 18px; }

.more {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -12px -433px no-repeat;
  height: 16px;
  width: 50px;
  padding-right: 20px;
  margin-left: 12px; }

#social-floor ul {
  height: 250px; }
#social-floor ul li {
  width: 190px;
  height: 212px;
  margin-right: 12px;
  border: none; }
#social-floor ul li:last-child {
  margin: 0; }
#social-floor .cover {
  height: 43px;
  width: 190px;
  background-color: #FF9C35;
  opacity: 0.4;
  position: absolute;
  margin: -45px 0; }
#social-floor .caption {
  height: 43px;
  position: absolute;
  margin: -45px 0; }
#social-floor .logo {
  position: absolute; }
#social-floor .name {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 20px;
  left: 120px; }

.shadow {
  box-shadow: 0 0 5px 3px #555; }

#social {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -170px -72px no-repeat;
  height: 22px;
  width: 44px;
  margin: 10px 10px; }

#wechat {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -227px -67px no-repeat;
  height: 34px;
  width: 37px;
  margin: 2px 10px; }

#qzone {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -170px -106px no-repeat;
  height: 32px;
  width: 36px;
  margin: 5px 10px; }

#tieba {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -220px -109px no-repeat;
  height: 28px;
  width: 28px;
  margin: 7px 10px; }

#weibo {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -264px -107px no-repeat;
  height: 30px;
  width: 37px;
  margin: 5px 10px; }

#blog {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -276px -67px no-repeat;
  height: 27px;
  width: 32px;
  margin: 5px 10px; }

#service {
  width: 1200px;
  margin: 0 auto; }
  #service > ul {
    display: block;
    height: 140px; }
  #service > ul > li {
    float: left;
    padding-right: 142px; }
  #service > ul > li:last-child {
    padding: 0; }

.single-serv li {
  color: #6f7170;
  font-size: 12px;
  line-height: 2em; }
.single-serv li:first-child {
  color: #000;
  font-size: 14px;
  line-height: 2.5em; }

footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px 0 30px 0; }
  footer a, footer span {
    color: #6f7170;
    line-height: 2em;
    vertical-align: middle;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px #6f7170 solid; }
  footer a:last-child, footer span:last-child {
    border: none; }
  footer a > span {
    margin-right: 5px;
    padding: 0 5px; }

#sale-point {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -234px -3px no-repeat;
  height: 13px;
  width: 10px; }

#service-point {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -248px -3px no-repeat;
  height: 13px;
  width: 10px; }

aside {
  padding: 3px;
  border: 1px #bdbdbd solid;
  position: fixed;
  right: 50px;
  bottom: 200px;
  text-align: center;
  background-color: #fff; }
  aside span {
    font-size: 13px; }

.qrcode {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -88px -592px no-repeat;
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -88px -592px no-repeat;
  height: 76px;
  width: 76px; }

.right-btn {
  background: url(http://pic.shop.lenovo.com.cn/g1/M00/00/F0/CmBZD1ZynUyAUnWjAAGn0mxLsoI703.png) -328px -476px no-repeat;
  height: 36px;
  width: 16px;
  position: fixed;
  right: 0;
  bottom: 60%; }

.hover-link {
  color: red !important; }

.hover-li {
  color: #000 !important; }

/*# sourceMappingURL=lenovo.css.map */
