//yuan xing tou xiang
@mixin circlehead($radius) {
    height: $radius;
    border-radius: 50%;
    vertical-align: middle;
}

//banner
@mixin welcomeban($back-img, $height, $head-radius) {
    background: url(#{$back-img}) 100% no-repeat;
    height: $height;
    div {
        line-height: $height;
        padding-left: 40px; 
        width: 140px;
        float: left;
    }
    div img {
        @include circlehead($head-radius);
        border: #fff 5px solid;
    }
    span{
        line-height: 40px;
        position: relative;
        top: 50px;
        overflow: hidden;
    }
    span.font-2{
        font-size: 1.5em;
    }
    span.font-1{
        color: #233;
    }
}

//shadow
@mixin shadow{
    border: 1px #ddd solid;
    box-shadow: #ccc 1px 1.5px;
}