doctype html
html
	head
		meta(charset="utf-8")
		title Dialog
		link(href="../dist/css/dialog.css")
	body
		button#create-sp.create create a simple dialog
		button#create-inp.create create a input dialog
		button#create-cpl.create create a complete dialog
		.container
			if (dftDialog.hasMask)
				.dlg-cover 
	script(date-main="../dist/js/dialog.min.js" src="http://cdn.bootcss.com/require.js/2.2.0/require.min.js")
