@gray: #eee;
@dark-gray: #555;
@base-clr: #7fe5a3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.back-img {
  width: 100%;
  min-height: 200px;
}

.danmu {
  // background-color: transparent;
  // color: orange;
  position: absolute;
  right: 0;
}

audio {
  position: absolute;
}

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}

.audio-container {
  background-color: #BDC0BA;
  width: 100%;
  // height: 300px;
}

.controls{
  display: flex;
  width: 100%;
  height: 100px;
  background: white;
  margin-top: -1px;
  padding: 20px;
  box-sizing: border-box;
  &_plays{
    flex: 2;
    display: flex;
    justify-content:  space-around;
  }
  &_player{
    flex: 1;
    fill: #7FE5A3;
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 420px){
    flex-direction: column;
    height: 200px;
  }
  transition: all 0.2s;
}

#plays_btn, #prev_btn, #next_btn{
  cursor: pointer;
  width: 26px;
  max-width: 18px;
  &:hover{
    fill: #565349;
  }
  transition: all 0.2s;
}

#pause_btn{
  display: none;
}

.progressbar_slide{
  width: 100%;
  // background-color: @base-clr;
  height: 120px;
  position: relative;
  background: url(../../img/white.png) no-repeat;
  background-size: 100% 100%;
}

.progressbar_range {
  background-color: transparent;
  width: 5px;
  height: 100%;
  padding-right: 10px;
  margin-right: 10px;
  overflow: hidden;
  img {
    height: 100%;
  }
}

.slide-bar {
  width: 10px;
  padding-right: 10px;
  background-color: transparent;
  height: 100%;
  position: relative;
  right: 0;
  top: -100%;
  cursor: move;
}

.tag-box {
  height: 100px;
  width: 100%;
  position: relative;
}
.tag-pole {
  height: 100%;
  width: 2px;
  position: absolute;
}
.tag-label {
  position: absolute;

}
.danmu-input {
  textarea {
    width: 100%;
    border-radius: 10px;
    margin:20px 0;
  }

}
